

//GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;

//COLOR
$color-white: white;
$color-black: black;
$color-primary: #55c57a;
$color-primary-1: #1abc9c;
$color-primary-2: #c0392b;
$color-secondary-dark: #ff7730;
$color-grey-dark: #777;
$color-background: #eee;
$color-updateButton: #2980b9;
$color-cancelButton: #e74c3c;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485; 
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dfdada;

//SIZE
$font-size-search-button: 1.3rem;
$font-size-update-button: 1.3rem;
$font-size-cancel-button: 1.3rem;
$header-font-size: 2.5rem;
$header-small-font-size: 1.5rem;
$header-ex-small-font-size: 1rem;
$gap: .5rem;