@import "../../sass/abstracts/variables";

.btn {
    width: 6rem;
    height: 2.5rem;
    &,
      &:link,
      &:visited {
        text-transform: capitalize;
        text-decoration: none;
        // padding: 0.1rem 0.5rem;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        font-size: $font-size-update-button;

        background-color: $color-updateButton;
        color: $color-white;
  
        //Change for the <button> element
        border:none;
        cursor: pointer;
      }
    
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
  
        &::after {
          transform: scaleX(1.5) scaleY(1.6);
          opacity: 0;
        }
      }
    
      &:active {
        outline: none;
        transform: translateY(3px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
      }
      
      @media only screen and (max-width: 850px) {
        width: 5.5rem;
      }
    }